body,
html {
  background: #343332;
  font-family: 'Ubuntu', 'Arial Unicode MS Bold', sans-serif;
  height: 100%;
  margin: 0;
  position: relative;
  width: 100%;
}

.app-header {
  align-items: center;
  background: #343332;
  color: white;
  display: flex;
  font-size: 24px;
  height: 48px;
  justify-content: center;
  min-height: 48px;
  position: relative;
  text-align: center;
  top: 8px;
  width: 100%;
}

button {
  background: rgba(255, 255, 255, 0.0);
  border: none;
  color: #fff;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

button:hover {
  background: rgba(255, 255, 255, 0.1);
}

button:active {
  background: rgba(255, 255, 255, 0.2);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}
