.panel {
  background: #343332;
  color: #fff;
  flex-basis: 48px;
  height: 100%;
  min-width: 48px;
  overflow: hidden;
  position: relative;
  width: 48px;
  transition:
    flex-basis .1s ease-out,
    min-width .1s ease-out,
    width .1s ease-out;
}

.panel button {
  height: 36px;
  font-size: 24px;
  width: 36px;
  text-align: center;
}

.panel.expanded {
  flex-basis: 256px;
  min-width: 256px;
  width: 256px;
}

.panel button {
  position: absolute;
  top: 16px;
}

.panel-control.checkbox {
  display: flex;
  padding: 8px;
  justify-content: space-between;
}

.panel-control.dropdown {
  padding: 8px;
  text-align: left;
}

.panel-control input[type="checkbox"] {
  height: 16px;
  width: 16px;
}

.panel-controls {
  height: calc(100% - 56px);
  margin-bottom: 40px;
  margin-top: 16px;
  position: absolute;
  width: 196px;
}

.panel-left {
  left: 0;
}

.panel-left .panel-controls {
  right: 48px;
}

.panel-left button {
  right: 0;
}

.panel-right {
  right: 0;
}

.panel-right .panel-controls {
  left: 48px;
}

.panel-right button {
  left: 0;
}
