.panel {
  background: #343332;
  color: #fff;
  flex-basis: 48px;
  height: 100%;
  min-width: 48px;
  overflow: hidden;
  position: relative;
  width: 48px;
  transition:
    flex-basis .1s ease-out,
    min-width .1s ease-out,
    width .1s ease-out;
}

.panel button {
  height: 36px;
  font-size: 24px;
  width: 36px;
  text-align: center;
}

.panel.expanded {
  flex-basis: 256px;
  min-width: 256px;
  width: 256px;
}

.panel button {
  position: absolute;
  top: 16px;
}

.panel hr {
  margin-bottom: 12px;
  margin-top: 12px;
  width: 90%;
}

.panel-control {
  padding: 8px;
  text-align: left;
}

.panel-control.checkbox {
  display: flex;
  padding: 8px;
  justify-content: space-between;
}

.panel-control.date-picker input {
  appearance: none;
  background: #222;
  border: 0 !important;
  color: #fff;
  font-family: 'Ubuntu', 'Arial Unicode MS Bold', sans-serif;
  font-size: 14px;
  margin: 4px 0;
  outline: 0;
  padding: 2px 8px;
  position: relative;
  width: 164px;
}

.panel-control.date-picker input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.863);
  left: 2px;
  padding: 2px 0;
  position: relative;
}

.panel-control input[type="checkbox"] {
  height: 16px;
  width: 16px;
}

.panel-controls {
  height: calc(100% - 56px);
  margin-bottom: 40px;
  margin-top: 16px;
  position: absolute;
  width: 196px;
}

.panel-left {
  left: 0;
}

.panel-left .panel-controls {
  right: 48px;
}

.panel-left button {
  right: 0;
}

.panel-right {
  right: 0;
}

.panel-right .panel-controls {
  left: 48px;
}

.panel-right button {
  left: 0;
}

select {
  appearance: none;
  background: #222;
  border: 0 !important;
  color: #fff;
  cursor: pointer;
  flex: 1;
  font-family: 'Ubuntu', 'Arial Unicode MS Bold', sans-serif;
  font-size: 14px;
  outline: 0;
  padding: 2px 8px;
}

.select-container {
  background: #222;
  display: flex;
  height: 24px;
  line-height: 2;
  margin: 4px 0;
  overflow: hidden;
  position: relative;
  width: 180px;
}

.select-container::after {
  background: #292929;
  color: #ddd;
  content: '\25BC';
  cursor: pointer;
  font-size: 12px;
  padding: 0 8px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: .2s all ease;
}

.select-container:hover::after {
  color: #fff;
}

.switch {
  background: #222;
  border-radius: 20px;
  display: inline-block;
  height: 20px;
  position: relative;
  transition: all 0.3s;
  width: 40px;
  top: 5px;
  left: 30px;
}

.switch::after {
  background: #fff;
  border-radius: 50%;
  content: '';
  height: 18px;
  left: 1px;
  position: absolute;
  top: 1px;
  transition: all 0.3s;
  width: 18px;
}

.switch-checkbox {
  display: none;
}

.switch-checkbox:checked + .switch::after {
  left: 20px;
}

.switch-checkbox:checked + .switch {
  background: #cb85fa;
}
