.app {
  align-items: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: flex;
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
}

.panel {
  background: #343332;
  height: 100%;
  width: 48px;
}

.panel-left {
  left: 0;
}

.panel-right {
  right: 0;
}
