.panel {
  background: #343332;
  flex-basis: 48px;
  height: 100%;
  min-width: 48px;
  overflow: hidden;
  position: relative;
  width: 48px;
  transition:
    flex-basis .1s ease-out,
    min-width .1s ease-out,
    width .1s ease-out;
}

.panel button {
  height: 36px;
  font-size: 24px;
  width: 36px;
  text-align: center;
}

.panel.expanded {
  flex-basis: 256px;
  min-width: 256px;
  width: 256px;
}

.panel button {
  position: absolute;
  top: 16px;
}

.panel-left {
  left: 0;
}

.panel-left button {
  right: 0;
}

.panel-right {
  right: 0;
}

.panel-right button {
  left: 0;
}
